/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// Modules
@import "modules/all";

// Partials
@import "partials/header";
@import "partials/footer";
// @import "partials/sidebar";

// Pages
@import "partials/404";
@import "partials/internal";
@import "partials/home";

// Third-party
@import "vendor/gravityforms";
 

// WordPress
img.aligncenter { display:block; margin:0 auto; } 
img.alignleft { float:left; margin:15px 15px 15px 0; } 
img.alignright { float:right; margin:15px 0 15px 15px; } 