.page-template-page-news-php { 
	.content { border-top:10px solid $red; }
}

	
	
	@media only screen and  (max-width: 1224px) {
		.blog-wrap { 
			.col_1 { 
				li { 
					.featured-image, .excerpt { width:92%; }
				}
			}
		}
	}
	@media only screen and  (max-width: 993px) {
		.blog-wrap { padding-top:50px;
			.col_1 { width:100%;
				li { 
				}
			}
			.col_2 { width:100%; }
		}
	}
	@media only screen and  (max-width: 600px) {
		.blog-wrap { padding-top:10px;
			.col_1 { width:100%;
				li {
				.date { display:none; }
				.featured-image, .excerpt { width:100%; }
				}
			}
		}
	}
