/*  ===============================
				FOOTER
	===============================*/
header.nav-bar {
	width:100%;
	height:104px;
	background-color:$dkblue;
	position:fixed;
	bottom:0;
	left:0;

	.colorbar {
		width:100%;
		height:14px;
		background:url('../images/colorbar.png') repeat-x;
	}

	.logo {
		width:102px;
		height:60px;
		background: url('../images/ccc-logo.png') no-repeat;
		float:left;
		display:inline-block;
		margin:15px 0 0 3%;
	}
	
	.utility {
		float:right;

		height:30px;
		width:120px;
		margin:30px 3% 0 0;
		a {
			width:30px;
			height:30px;
			display:inline-block;
			float:left;
			margin-left:25px;
			@include ir;
			&.fb {
				background: sprite($sprites, fb, 7px, 0px) no-repeat;
					&:hover { background: sprite($sprites, fbhover, 7px, 0px) no-repeat; }
			}
			&.search {
				background: sprite($sprites, search, 0px, 0px) no-repeat;
					&:hover { background: sprite($sprites, searchhover, 0px, 0px) no-repeat; }
				@include ir;
			}
		}
	}	/* /utility */
	
	ul {
		list-style:none;
		float:left;
		margin:31px 0 0 4%;
		font: {
			family:$roboto;
			size:18px;
			weight:400;
		}
		line-height:26px;

		li {
			display:inline-block;
			position:relative;
			margin-right:48px;
			&:last-child { margin-right:0; }
			& a {
				padding:46px 0 29px 0;
				text-align:center;
				color:#fff;
				&:hover { color:$ltblue;}
			}			
			&.current_page_item {
				height:50px;
				a { 
					border-bottom:5px solid $ltblue;
				}
			}
		} /* /li */
	} /* /Menu */
} /* /PARENT header.nav-bar */

.mp-level { 
	display:none; 
	&:first-child { display:block; }
	h2, .mp-back {
		display:none;
	}
}

li.drop .mp-level { 
	display: none;
}
li.drop:hover .mp-level { 
	display: block;
	background: black;
	position: absolute;
	top: -345px;
	z-index: 1000;
	width: 900px;
	height: 300px;
	left: -140px;
}

.menu-mobile, .colorbar-m { display:none;	}
	
	
	
	@media only screen and (min-width: 320px) and (max-width: 385px) {
	header.nav-bar .logo, .colorbar { display:none;	}
	
	.menu-desktop { display:none; }
	.menu-mobile { display:block; }
	
	.colorbar-m {
		width:100%;
		height:14px;
		display:block;
		background:url('../images/colorbar.png') repeat-x;
		position:fixed;
		bottom:0;
		left:0;
	}
	
	header.nav-bar { 
		position:fixed; top:0; height:auto; 

		
		.nav { 
			margin: 31px 0 0 0;
			line-height: normal;
			font: {
				size:14px;
				weight: 100;
			}
			ul {
				margin:0;
				li {
					width:100%;
					margin-right:0px;
					&.current_page_item { height:auto; 
						& a { border-bottom: none; }
					}
					& > a {
						padding: 0.7em 1em 0.7em 1.8em;
						text-align: left;
						color: #fff !important;
					}
				}
			}
		}
		.mp-level {
			display:block; 
			h2 {
				display:block;
				letter-spacing: 0;
			} 
			.mp-back {
				display:block;
				padding: 8px 2em 8px 2em;
				text-align:right;
			}
		}	
	}
}