.triggerthing { display:none;}

.logo {
	width:65px;
	height:50px;
	position: relative;
	margin:20px auto 0 auto;
	background: sprite($sprites, rt-logo, 15px, 0) no-repeat;
	border-bottom: 1px solid #595959;
}

.nav-bar {
	width:65px; 
	height:100%;
	background:$mdgry;
	position:fixed;
	left:0;
	top:0;
	z-index: 100;
	
	& a { display:block; }
	
	ul {
		&.main-nav {
			li {
				//margin:10px 0;
				border-bottom: 1px solid #595959;
				height: 55px;
				&:last-child { }
				.tool-tip {
					position:absolute;
					bottom:-1px;
					left:-50px;
					width:auto;
					height: 55px;
					z-index:-2;
					color:#fff;
					font-size:16px;
					transition:.3s ease;
					background: $mdgry;
					padding: 18px 5px 10px 15px;
					text-transform: uppercase;
					
				}	
				
				& a {
					position: relative;
					display:block;
					width:65px;
					height:54px;
					&:hover { 
						color:purple;
						.tool-tip {
							left: 65px;
						}
					}
					
					&.about { background: sprite($sprites, nav-about, 14px, 13px) no-repeat $mdgry; 
						.tool-tip { width:110px; }
					}	
					&.process { background: sprite($sprites, nav-process, 18px, 7px) no-repeat $mdgry; 
						.tool-tip { width:100px; }
					}	
					&.results { background: sprite($sprites, nav-results, 14px, 12px) no-repeat $mdgry; 
						.tool-tip { width:100px; }
					}	
					&.getintouch { background: sprite($sprites, nav-contact, 14px, 13px) no-repeat $mdgry; 
						.tool-tip { width:140px; left: -75px}
						
						&:hover {
							.tool-tip {left: 65px;}
						}
					}	
				}
						
				&.current_page_item {
					a { 
						border-bottom:5px solid black;
					}
				}
			} // end li
		} // end &.main-nav
		
		&.social-nav {
			position: absolute;
			bottom: 0;
			
			li {
				margin-bottom: 18px; 
				a {
					width: 65px;
					height: 18px;
					display: block;
					
					&.fb {background: sprite($sprites, social-fb, 25px, 0) no-repeat $mdgry;}
					&.tw {background: sprite($sprites, social-tw, 23px, 0) no-repeat $mdgry;}
					&.ig {background: sprite($sprites, social-ig, 23px, 0) no-repeat $mdgry;}
					&.yt {background: sprite($sprites, social-yt, 23px, 3px) no-repeat $mdgry;}
					&.in {background: sprite($sprites, social-in, 23px, 0) no-repeat $mdgry;}
				}
				
			}
		}
		
	} // end ul
} // end PARENT .nav-bar

.utility {
	width:auto;
	height:30px;
	position: absolute;
	top: 30px;
	right: 2%;
	z-index: 600;
	
	li {
		display: inline-block;
		font-size: 14px;
		text-transform: uppercase;
		margin-left: 25px;
	}
	
	a {color: $footgry;}
}	/* /utility */

.home .utility {
	a {color: #fff;}
}

.side-nav {
	width: 10px;
	height: 77px;
	position: absolute;
	top: 45%;
	right: 2%;
	position: fixed;
	z-index: 700;
	
	li {
		margin-bottom: 8px;
		
		a {
			width: 10px;
			height: 10px;
			display: block;
			@include border-radius (50%, 50%);
			border: 1px solid #fff;
			transition: 0.3s border;
			
			&:hover {
				background: #fff;
			}
			
			&.active {
				background: #fff;
			}
		}
	}
}

/*
.mp-level { 
	display:none; 
	&:first-child { display:block; }
	h2, .mp-back {
		display:none;
	}
}

li.drop .mp-level { 
	display: none;
}
li.drop:hover .mp-level { 
	display: block;
	background: black;
	position: absolute;
	top: -345px;
	z-index: 1000;
	width: 900px;
	height: 300px;
	left: -140px;
}
*/


/* HIDE MOBILE NAV / COLOR BAR MOBILE */
.menu-mobile { display:none;}
	
 /*  ===============================
			MEDIA QUERIES
	===============================*/		

@media only screen and (max-width: 1109px) { 

}

@media only screen and (max-width: 1060px) { 

}

@media only screen and (max-width: 1024px) { 

}

/* iPAD VERTICAL */
	@media only screen and  (max-width: 768px) { 
	
	}	
	
@media only screen and (max-width:601px) { 		.home { .triggerthing { .logo-mobile { display:none; } } } }

/* 	iPHONE / ANDROID VERTICAL */
@media only screen and (min-width: 320px) and (max-width: 600px) {
/* 	.nav-bar .logo, .colorbar { display:none;	} */
	
/* 	HIDE DESKTOP NAV / SHOW MOBILE NAV */
/*
	.menu-desktop { display:none; }
	.menu-mobile { display:block; }
	.triggerthing { 
		display:block;
		height: 69px;
		padding: 17px 0 0 21px;
		.menu-trigger { float:left;}
		.logo-mobile {
		}
	}
*/
	
}