/*  ===============================
				COLORS
	===============================*/
/* Base Colors */
$txt: #414042;
$dkgry: #2c2b2c;
$mdgry: #404040;
$ltgry: #ecf0f0;
$md2gry: #636463;

$red: #e74c3b;
$ltred: #eb6160;
$dkred: #c03a2b;

$dkteal: #9ec1bd;
$ltteal: #cfe2e0;
$mdteal: #bad8d7;

$higry: #a1a1a1;
$btngry: #d7d7d7;
$wmgry: #ecebe9;
$titlegry: #7d7d7d;
$footgry: #cecdcd;
